{% extends "base.html" %}

{% block content %}
<h1 id="temp">{{ title }}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="forms">
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
        {% for error in form.email.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div class="forms">
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <div class="forms">
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
        {% for error in form.password_again.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </div>
    <p class="forms">{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    <div class="forms">{{ message }}</div>
</form>
{% endblock %}